<main class="page-content">

    <div class="container-fluid">
        <div class="hdr-topPad">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-12">

                    <div class="comman">
                        <div class="tab-heading">
                            <h1> My Bot</h1>
                        </div>
                        <div class="p-t-20">
                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                    <label class="label-title">
                                        App Name
                                    </label>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="wrap-input validate-input m-b-20"
                                        data-validate="Enter username or email">
                                        <input class="form-control appinputs" type="text" name="username" placeholder="App Name
">
                                        <span class="focus-input"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="p-t-20">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                    <label class="label-title">
                                        App Desc
                                    </label>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="wrap-input validate-input m-b-20"
                                        data-validate="Enter username or email">
                                        <input class="form-control appinputs " type="text" name="username" placeholder="App Desc
">
                                        <span class="focus-input"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-20">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                    <label class="label-title">
                                        App Icon
                                    </label>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">

                                    <img src="../../assets/images/bot_icon.jpg" class="rounded-circle apapp_img">


                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                    <div class="form-group">
                                        <input type="file" name="file" id="file" class="input-file">
                                        <label for="file" class="btn btn-tertiary js-labelFile text-left">

                                            <span class="js-fileName">Choose a file</span>
                                            <i class="icon fa fa-check upload-icon"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-t-20">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                    <label class="label-title">
                                        Intents
                                    </label>

                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                    <div class="form-group">
                                        <textarea class="form-control comments-brd" rows="5" id="comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                                    <i class="fa fa-upload upload-icon p-t-30" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <div class="p-t-20">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                    <label class="label-title">
                                        Story
                                    </label>

                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                    <div class="form-group">
                                        <textarea class="form-control comments-brd" rows="5" id="comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                                    <i class="fa fa-upload upload-icon p-t-30" aria-hidden="true"></i>

                                </div>
                            </div>
                        </div>


                        <div class="p-t-50">
                            <div class="modal-footer p-t-50">
                                <div class="disflex">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <button type="button" id="prevBtn"
                                                class="btn proceed-globel ">Cancel</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <button type="button" id="nextBtn" class="btn next-globel">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</main>